{
  "webdav": {
    "url": "",
    "username": "",
    "password": ""
  },
  "platform": {
    "netease": "",
    "youtube": "",
    "soundcloud": ""
  },
  "search": "",
  "download": "",
  "tidy": ""
}